<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
</head>
<body>
  <div class="container mt-3">
    <h2>Board List</h2>
 <table class="table table-hover">
     <colgroup>
        <col width="10%">
        <col width="*">
        <col width="15%">
        <col width="20%">
        <col width="10%">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">BNO</th>
        <th scope="col">TITLE</th>
        <th scope="col">REG ID</th>
        <th scope="col">REGDATE</th>
        <th scope="col">READCOUNT</th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${#lists.size(list)} > 0" th:each="bvo : ${list}">
        <td th:text="${bvo.bno}"></td>
        <td>
            <a href="/board/detail?bno=" th:attrappend="href=${bvo.bno}" th:text="${bvo.title}"></a>
        </td>
        <td th:text="${bvo.regid}"></td>
        <td th:text="${bvo.regdate}"></td>
        <td th:text="${bvo.readcount}"></td>
      </tr>
      <tr th:unless="${#lists.size(list)} > 0">
        <td colspan="5">게시글이 존재하지 않습니다.</td>
      </tr>
    </tbody>
  </table>
  <a href="/board/register" class="btn btn-dark">Register</a>
</div>
</body>
</html>